resources:
  - ns.yaml
  - database.yaml
  - db-svc-to-remove.yaml
  - db-svc.yaml
  - pooler-tx-rw-svc.yaml
  - pooler-ss-rw-svc.yaml
  - backup.yaml

secretGenerator:
  - name: usdf-summitdb-logical-replication-creds
    options:
      disableNameSuffixHash: true
    files:
      - etc/.secrets/username
      - etc/.secrets/password
  - name: s3-creds
    options:
      disableNameSuffixHash: true
    files:
    - ACCESS_KEY_ID=etc/.secrets/access_key
    - ACCESS_SECRET_KEY=etc/.secrets/secret_key
  - name: replica-user-creds
    options:
      disableNameSuffixHash: true
    files:
    - username=etc/.secrets/replica_user
    - password=etc/.secrets/replica_password


namespace: summit-db-logical-replica
